.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    border-bottom: 1px solid gray;
    box-shadow: gray 2px 2px   ;
}

h1{
    font-family: 'Caveat', cursive;
    color: #0e3c7e;
}