.Votes{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.chocolateBar{
    height: 20px;
    background-color: #4f2c2c;
    border-radius: 5px;
}

.vanillaBar{
    height: 20px;
    background-color: #cbc0ac;
    border-radius: 5px;
}

.strawberryBar{
    height: 20px;
    background-color: #de8c91;
    border-radius: 5px;
}

button {
    content: auto;
}