.Ads-wrapper{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

button{
    background-color: #1e60a9;
    color: white;
}

button .disabled{
    background-color: gray;
}